body {
	display: inline-block;
	font-family: helvetica;
	font-size: 16px;
}

.object {
	margin-top: 20px;
	color: purple;
}

form {
	margin-left: 230px; 
	margin-top: 10px;
	color: purple;
}

.content {
	margin-left: 260px;
	margin-top: 10px;
} 
