body {
	margin: 0;
	padding: 0;
	font-size: 0;
}
.clock {
	width: 300px;
    height: 300px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
	margin: auto;
}

.phrase1 {
	margin-left: 1300px;
	 overflow-x: auto;
      width: 1000px;
       height: auto;
}
.opening-circle {
	width: 300px;
    height: 300px;
    border: 1px solid #000;
    border-radius: 100%;
}

.center {
	height: 6px;
	width: 6px;
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
	margin: auto;
	border-radius: 100%;
	background: #000;
}
.second-hand {
	height: 120px;
	width: 1px;
	margin-left: 2px;
	background: red;
}
.minute-hand {
	height: 80px;
	width: 1px;
	margin-left: 2px;
	background: #000;
}
.hour-hand {
	height: 40px;
	width: 2px;
	margin-left: 2px;
	background: #000;
}

.12 {
	height: 30px;
	width: 1px;
	background: #000;
}

.word-wrapper {
	display: inline-block;
	margin-right: 100px;
	margin-top: 20px;
	margin-top: 0px;
	margin-left: 5px;
}
.letter-wrapper { 
	display: inline-block;
	margin: 0px -40px 40px 15px; }

.letter {
	width: 150px;
	height: 200px;
	position: relative;
}

.bar {
	position: absolute;
	   -webkit-animation-name: secondhand; 
    -webkit-animation-duration: 1s; 
    -webkit-animation-fill-mode: forwards; 
    -webkit-animation-timing-function: linear; 
    -webkit-animation-iteration-count: infinite; 
}

.bar2 {
	position: absolute;
	   -webkit-animation-name: minutehand; 
    -webkit-animation-duration: 60s; 
    -webkit-animation-fill-mode: forwards; 
    -webkit-animation-timing-function: linear; 
    -webkit-animation-iteration-count: infinite; 
}

.bar3 {
	position: absolute;
	   -webkit-animation-name: minutehand; 
    -webkit-animation-duration: 3600s; 
    -webkit-animation-fill-mode: forwards; 
    -webkit-animation-timing-function: linear; 
    -webkit-animation-iteration-count: infinite; 
}



.vertical {
	width: 30px;
	height: 200px;
}

.horizontal {
	width: 150px;
	height: 30px;
}

.black { background: #000; }
.red { background: #f00; }
.yellow { background: #00f; }
.blue { background: #ff0; }


.a-right{
	top: 0px;
	right: 0px;
	z-index: 7;
}
.a-top {
	top: 0px;
	left: 0px;
	z-index: 6;
}
.a-mid {
	top: 85px;
	left: 0px;
	z-index: 7;
}

.h-left, .b-left, .k-vertical, .l-vertical, .t-vertical {
	height: 200px;
	width: 1px;
	background: #000;
}

.h-top, .n-top, .m-round-left {
	border-radius: 30px 30px 0px 0px;
    top: 120px;
    border: 1px solid black;
    border-width: 1px 1px 0px 1px;
    width: 70px;
    height: 80px; 
}

.d-round, .p-round, .a-round, .b-round, .g-round, .q-round {
	height: 80px;
	width: 70px;
	border: 1px solid black;
	border-radius: 30px 30px 30px 30px;
	top: 118px;
}
.o-round {
	height: 80px;
	width: 70px;
	border: 1px solid black;
	border-radius: 30px 30px 30px 30px;
	top: 118px;
	margin-left: -40px;
}

.d-right {
	height: 200px;
	width: 1px;
	background: #000;
	left: 71px;
}

.n-left, .m-left, .r-vertical {
	height: 80px;
	width: 1px;
	background: #000;
	top: 122px;
	z-index: 1;
}

.p-left {
	height: 200px;
	width: 1px;
	background: #000;
	top: 120px;
}

.a-left {
	height: 80px;
	width: 1px;
	background: #000;
	top: 122px;
	left: 71px;
}

.c-round, .r-round {
	border-radius: 30px 30px 30px 30px;
    top: 120px;
    border: 1px solid black;
    border-width: 1px 1px 1px 1px;
    width: 70px;
    height: 80px; 
}

.c-white {
	width: 10px;
	height: 32px;
	position: relative;
	top: 24px;
	left: 65px;
	z-index: 1;
}

.e-white {
	width: 10px;
	height: 32px;
	position: relative;
	top: 24px;
	left: 65px;
	z-index: 1;
}

.e-round {
	border-radius: 30px 30px 30px 30px;
    top: 120px;
    border: 1px solid black;
    border-width: 1px 1px 1px 1px;
    width: 70px;
    height: 80px; 
}


.e-horizontal {
	height: 1px;
	width: 71px;
	background: #000;
	top: 144px;
	z-index: 1;
}

.f-left {
	top: 27px;
	height: 175px;
	width: 1px;
	background: #000;
}

.f-round {
	border-radius: 30px 30px 30px 30px;
    border: 1px solid black;
    border-width: 1px 1px 0px 1px;
    width: 60px;
    height: 80px;
    left: 0px; 
}

.f-horizontal, .t-horizontal {
	height: 1px;
	width: 43px;
	background: #000;
	top: 80px;
	left: -15px;
}

.f-white {
	top: 27px;
	left: -11px;
	height: 53px;
	width: 80px;
	position: relative;
}

.g-right {
	height: 181px;
	width: 1px;
	background: #000;
	top: 120px;
	left: 71px;
	z-index: 1;
}

.g-round-bottom {
	border-radius: 30px 30px 30px 30px;
    border: 1px solid black;
    border-width: 1px 1px 1px 1px;
    width: 60px;
    height: 80px;
    top: 250px; 
    left: 10px;
}

.g-white {
	top: -3px;
	left: -4px;
	height: 53px;
	width: 75px;
	position: relative;
}

.i-vertical {
	height: 80px;
	width: 1px;
	background: #000;
	top: 122px;
}

.i-dot, .j-dot {
	left: -3px;
	top: 112px;
	height: 6px;
	width: 6px;
	border-radius: 100%;
	background: #000;
}

.j-vertical {
	height: 181px;
	width: 1px;
	background: #000;
	top: 122px;
	z-index: 1;
}

.j-round {
	border-radius: 30px 30px 30px 30px;
    border: 1px solid black;
    border-width: 1px 1px 1px 1px;
    width: 60px;
    height: 80px;
    left: -61px;
    top: 250px; 
}

.j-white {
	top: -3px;
	left: -4px;
	height: 53px;
	width: 75px;
	position: relative;
}

.k-diagonal-top {
	width: 40px;
	height: 47px;
	border-bottom: 1px solid #000;
	-webkit-transform:
	translateY(-75px)
	translateX(11px)
	rotate(140deg); 
}

.k-diagonal-bottom {
	width: 70px;
	height: 40px;
	border-bottom: 1px solid #000;
	-webkit-transform:
	translateY(-86px) 
	translateX(-27px) 
	rotate(234deg)
}

.m-round-right {
	border-radius: 30px 30px 0px 0px;
    top: 120px;
    border: 1px solid black;
    border-width: 1px 1px 0px 1px;
    width: 70px;
    height: 80px;
    left: 71px;
}

.q-vertical {
	height: 200px;
	width: 1px;
	background: #000;
	top: 120px;
	left: 71px;
}

.q-diagonal {
	width: 40px;
	height: 47px;
	border-bottom: 1px solid #000;
	-webkit-transform:
	translateY(301px)
	translateX(82px)
	rotate(140deg); 
}

.r-white {
	width: 80px;
	height: 80px;
	position: relative;
	top: 22px;
	left: -2px;
}

.s-round-top {
	height: 40px;
	width: 70px;
	border: 1px solid black;
	border-radius: 30px 30px 30px 30px;
	top: 118px;
	z-index: 2;
}
.s-round-bottom {
	height: 40px;
	width: 70px;
	border: 1px solid black;
	border-radius: 30px 30px 30px 30px;
	top: 159px;
	z-index: 2;
}

.s-white-top {
	top: 14px;
	left: 50px;
	width: 30px;
	height: 50px;
	position: relative;
}
.s-white-bottom {
	top: 0px;
	left: -4px;
	width: 30px;
	height: 27px;
	position: relative;
	z-index: 3;
}


.u-vertical {
	height: 80px;
	width: 1px;
	background: #000;
	top: 122px;
	left: 71px;
}

.u-round, .y-round-top{
	border-radius: 0px 0px 30px 30px;
    top: 120px;
    border: 1px solid black;
    border-width: 0px 1px 1px 1px;
    width: 70px;
    height: 80px; 
}

.cover {
	background: #fff;
	position: relative;
}

.x-diagonal-left {
	width: 95px;
	height: 0px;
	border-bottom: 1px solid #000;
	-webkit-transform:
	translateY(160px) 
	translateX(1px) 
	rotate(233deg)
}

.x-diagonal-right {
	width: 95px;
	height: 0px;
	border-bottom: 1px solid #000;
	-webkit-transform:
	translateY(159px) 
	translateX(0px) 
	rotate(303deg)
}

.y-vertical {
	height: 181px;
	width: 1px;
	background: #000;
	top: 122px;
	left: 71px;
	z-index: 1;
}

.y-round-bottom {
	border-radius: 30px 30px 30px 30px;
    border: 1px solid black;
    border-width: 1px 1px 1px 1px;
    width: 60px;
    height: 80px;
    left: 10px;
    top: 250px; 
}

.y-white {
    top: -16px;
    left: -4px;
    height: 67px;
    width: 70px;
    position: relative;
}

.z-horizontal-bottom {
	height: 1px;
	width: 70px;
	background: #000;
	top: 192px;
	left: 0px;
}

.z-horizontal-top {
	height: 1px;
	width: 70px;
	background: #000;
	top: 119px;
	left: 0px;
}

.z-diagonal {
	width: 100px;
	height: 0px;
	border-bottom: 1px solid #000;
	-webkit-transform:
	translateY(155px)
	translateX(-15px)
	rotate(314deg); 
}

.v-diagonal-left {
	width: 89px;
	height: 0px;
	border-bottom: 1px solid #000;
	-webkit-transform:
	translateY(160px) 
	translateX(-24px) 
	rotate(245deg)
}
.v-diagonal-right {
	width: 89px;
	height: 0px;
	border-bottom: 1px solid #000;
	-webkit-transform:
	translateY(160px) 
	translateX(13px) 
	rotate(295deg)
}
.w-diagonal-left1 {
	width: 89px;
	height: 0px;
	border-bottom: 1px solid #000;
	-webkit-transform:
	translateY(160px) 
	translateX(-24px) 
	rotate(245deg)
}
.w-diagonal-right1 {
	width: 89px;
	height: 0px;
	border-bottom: 1px solid #000;
	-webkit-transform:
	translateY(160px) 
	translateX(13px) 
	rotate(295deg)
}
.w-diagonal-left2 {
	width: 89px;
	height: 0px;
	border-bottom: 1px solid #000;
	-webkit-transform:
	translateY(160px) 
	translateX(51px) 
	rotate(245deg)
}
.w-diagonal-right2 {
	width: 89px;
	height: 0px;
	border-bottom: 1px solid #000;
	-webkit-transform:
	translateY(160px) 
	translateX(88px) 
	rotate(295deg)
}
.w {
	margin-right: 60px;
}




@-webkit-keyframes secondhand {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@-webkit-keyframes minutehand {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}



/* 
position:
absolute
relative
fixed


*/