* { box-sizing :border-box; }

html, body {
	height: 100%;
}


body {
	font-size: 0px;
	padding: 0px;
	margin: 0px;
}

a {
	color: #000;
	text-decoration: none;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
li {
	display: inline-block;
}

.slay {
	font-size: 200px;
	color: #fff;
	background: #000;
	height: 100%;
	width: 100%;
	position: fixed;
}

.slay span {
	top: 50%;
	left: 50%;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
}

.hide {
	opacity: 0;
	display: none;
}

.close {
	position: absolute;
	top: 25px;
	right: 25px;
	background-color: #ccc;
	width: 85px;
	height: 85px;
	cursor: pointer;
}

.column {
	width: 50%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	padding: 40px;
}


.content {
	background: #f1f1f1;
}

.nav-item {
	color: #000;
	padding: 10px 20px 10px 20px;
	margin: 0 15px 15px 0;
	border: 1px solid #000;
	font-size: 20px;
	cursor: pointer;
}

.active {
	background-color: #000;
	color: #fff;
}

.green { background: #B8E986; }
.blue { background: #4A90E2; }
.red { background: #B0021B; }
.sol-lewitt { background-image: url('../img/sol-lewitt.jpg'); }

